[0m[00mcmake_install.cmake[0m
[00mMakefile[0m

CMakeFiles:
[01;34m3.31.6[0m
[01;34mpkgRedirects[0m
[01;34munique_lines.dir[0m
[00mcmake.check_cache[0m
[00mCMakeConfigureLog.yaml[0m
[00mCMakeDirectoryInformation.cmake[0m
[00mMakefile2[0m
[00mMakefile.cmake[0m
[00mprogress.marks[0m
[00;33mTargetDirectories.txt[0m
